In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
featuresST = ['smart_1_normalized','smart_1_raw',
            'smart_5_normalized','smart_5_raw',
            'smart_7_normalized','smart_7_raw',
            'smart_184_normalized','smart_184_raw',
            'smart_188_raw','smart_240_raw',
            'smart_189_normalized','smart_189_raw',
            'smart_190_normalized','smart_190_raw',
            'smart_193_normalized','smart_193_raw',
            'smart_194_normalized','smart_194_raw',
            'smart_197_normalized','smart_197_raw',
            'smart_198_normalized','smart_198_raw',
            'smart_241_raw','smart_242_raw']

In [3]:
df=pd.read_csv("/Users/zhilinyang/Desktop/STA_combine.csv",header=None)
colname = df.iloc[0]
df = df.iloc[1:]
df.columns = colname
df.head()

/Users/zhilinyang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,serial_number,smart_1_normalized,smart_1_raw,smart_5_normalized,smart_5_raw,smart_7_normalized,smart_7_raw,smart_184_normalized,smart_184_raw,...,smart_193_raw,smart_194_normalized,smart_194_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw,smart_241_raw,smart_242_raw,failure
1,2017-01-01,Z305B2QN,113,58173272,100,0,85,388359773,100,0,...,33904,24,24,100,0,100,0,30780539952,8290868549,0
2,2017-01-01,Z302A0YH,114,75626904,100,0,88,785458463,100,0,...,39656,19,19,100,0,100,0,21648124248,162013891630,0
3,2017-01-01,Z305BT0W,112,48893128,100,0,84,316494047,100,0,...,9073,30,30,100,0,100,0,26168289344,15892146696,0
4,2017-01-01,Z302A0YE,118,192617016,100,0,75,41700086,100,0,...,14150,21,21,100,0,100,0,21261063502,236386123294,0
5,2017-01-01,Z302PGH8,114,83211536,100,0,87,640624192,100,0,...,46664,25,25,100,0,100,0,16191633244,71986710022,0

In [4]:
x_train=pd.DataFrame()
sample_list=df['serial_number'].unique()
len(sample_list)

35189

In [7]:
sample=df[df.iloc[:,1].str.match('Z3029FAS')]
for i in range(1,len(sample)):
    arr=(sample['smart_7_normalized'].ewm(span=i).mean()).values
    print(arr[-1])

88.0
88.0
87.9999999999
87.9999999716
87.9999989967
87.9999897647
87.9999477379
87.9998256879
87.9995609664
87.9990900449
87.9983614947
87.9973430135
87.9960226061
87.9944059577
87.9925121118
87.9903689257
87.9880090998
87.9854670789
87.9827768406
87.9799704495
87.9770772096
87.9741232564
87.9711314506
87.9681214668
87.9651100009
87.9621110384
87.9591361483
87.9561947777
87.9532945329
87.9504414384
87.9476401713
87.9448942679
87.9422063057
87.9395780606
87.9370106425
87.9345046112
87.9320600748
87.9296767734
87.9273541498
87.9250914087
87.9228875665
87.9207414933

By observation, the weighted average will not be affected largely by the choice of window width. Hence, I intend to choose the mean value of possible width.

In [ ]:
num=9300
x_train=pd.DataFrame()
for sample_name in sample_list[9300:]:
    sample=df.groupby(['serial_number']).get_group(sample_name)
    train_sample=[]
    i=(1+len(sample))/2
    for feature in featuresST:
        arr=(sample[feature].ewm(span=i).mean()).values
        train_sample.append(arr[-1])
    train_vals=(pd.DataFrame(train_sample)).T
    x_train=x_train.append(train_vals,ignore_index=True)
    num=num+1
    print(num)

In [6]:
x_train.to_csv(path_or_buf='/Users/zhilinyang/Desktop/x_train.csv',index=False, mode='a')
print('done')

done