In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df2=pd.read_csv('/Users/zhilinyang/Desktop/work/train_df2.csv')
train_df2=train_df2.iloc[:,1:]
train_df2.head()

,SID,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,SMART_195,SMART_197,RAW_5,RAW_197,cg_1,cg_5,cg_187,cg_195,cg_197,cgr_5,cgr_197
0,11868.0,0.258065,0.555556,1.0,0.390244,0.578947,1.00000,1.000000,-0.600000,-0.075269,1.0,-1.000000,-1.000000,0.129032,0.0,0.0,0.043011,0.0,0.0,0.0
1,6988.0,0.387097,1.000000,1.0,0.512195,0.157895,1.00000,1.000000,-0.257143,-0.032258,1.0,-0.999527,-1.000000,0.258065,0.0,0.0,0.021505,0.0,0.0,0.0
2,21300.0,0.419355,0.777778,1.0,0.317073,0.789474,1.00000,0.636364,-0.428571,-0.010753,1.0,-1.000000,-1.000000,0.129032,0.0,0.0,0.021506,0.0,0.0,0.0
3,307.0,0.193548,0.555556,1.0,0.560976,-0.052632,0.79798,0.939394,-0.828571,-0.053763,1.0,-0.991021,-0.997753,0.129033,0.0,0.0,0.000000,0.0,0.0,0.0
4,15293.0,0.290323,0.555556,1.0,0.414634,0.578947,1.00000,1.000000,-0.542857,-0.053763,1.0,-1.000000,-1.000000,0.129032,0.0,0.0,0.000000,0.0,0.0,0.0

In [3]:
test_df2=pd.read_csv('/Users/zhilinyang/Desktop/work/test_df2.csv')
test_df2=test_df2.iloc[:,1:]
test_df2.head()

,SID,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,SMART_195,SMART_197,RAW_5,RAW_197,cg_1,cg_5,cg_187,cg_195,cg_197,cgr_5,cgr_197
0,4475.0,0.290323,1.000000,1.0,0.536585,0.052632,1.0,1.000000,-0.714286,-0.161290,1.0,-0.997637,-1.0,0.161290,0.0,0.0,0.086021,0.0,0.0,0.0
1,14671.0,0.387097,0.555556,1.0,0.390244,0.578947,1.0,0.030303,-0.600000,-0.010753,1.0,-1.000000,-1.0,0.032258,0.0,0.0,0.064516,0.0,0.0,0.0
2,19920.0,0.419355,0.259259,1.0,0.390244,0.789474,1.0,1.000000,-0.485714,-0.032258,1.0,-1.000000,-1.0,0.064516,0.0,0.0,0.021505,0.0,0.0,0.0
3,2785.0,0.387097,1.000000,1.0,0.560976,0.052632,1.0,1.000000,-0.600000,-0.290323,1.0,-0.997637,-1.0,0.161291,0.0,0.0,0.021505,0.0,0.0,0.0
4,13665.0,0.387097,0.555556,1.0,0.414634,0.578947,1.0,1.000000,-0.371429,-0.096774,1.0,-1.000000,-1.0,0.193549,0.0,0.0,0.021505,0.0,0.0,0.0

In [4]:
y_train2=pd.read_csv('/Users/zhilinyang/Desktop/work/y_train2.csv',header=None)
y_train2=y_train2.iloc[:,1:]
y_train2.head()

     1
0  0.0
1  0.0
2  0.0
3  1.0
4  0.0

In [5]:
y_test2=pd.read_csv('/Users/zhilinyang/Desktop/work/y_test2.csv',header=None)
y_test2=y_test2.iloc[:,1:]
y_test2.head()

     1
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0

In [19]:
from sklearn.tree import DecisionTreeClassifier
DT=DecisionTreeClassifier(criterion='entropy',min_samples_split = 20, min_samples_leaf = 7, min_impurity_decrease = 0.001,class_weight={0:1,1:2})

In [20]:
DT.fit(train_df2.iloc[:,1:],y_train2.values)

DecisionTreeClassifier(class_weight={0: 1, 1: 2}, criterion='entropy',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.001, min_impurity_split=None,
            min_samples_leaf=7, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [21]:
y_pred2=DT.predict(test_df2.iloc[:,1:])

In [22]:
y_pred2.sum()

1802.0

In [132]:
from sklearn.metrics import confusion_matrix
def FDR(y_true, y_pred):
    mat=confusion_matrix(y_true=y_true,y_pred=y_pred)
    TP=mat[1,1]
    FN=mat[1,0]
    FDR=TP/(TP+FN)
    return FDR

In [104]:
def FAR(y_true, y_pred):
    mat=confusion_matrix(y_true=y_true,y_pred=y_pred)
    FP=mat[0,1]
    TN=mat[0,0]
    FAR=FP/(FP+TN)
    return FAR

In [105]:
def disk_state(testset,y_true,disk_name_list):
    result=[]
    test_set=testset.groupby('SID')
    for disk in disk_name_list:
        sample_index=test_set.get_group(disk).index
        sample_result=y_true.reindex(sample_index)
        sample_result=sample_result.values
        if sample_result.sum():
            result.append(1)
        else:
            result.append(0)
    return result

In [106]:
def disk_FDR(x_test,y_pred,y_test):
    disk_pred=predict_disk(x_test,y_pred,x_test['SID'].unique())
    true_state=disk_state(x_test,y_test,x_test['SID'].unique())
    true_state=np.array(true_state)
    disk_pred=np.array(disk_pred)
    diskfdr=FDR(true_state, disk_pred)
    return diskfdr

In [107]:
def disk_FAR(x_test,y_pred,y_test):
    disk_pred=predict_disk(x_test,y_pred,x_test['SID'].unique())
    true_state=disk_state(x_test,y_test,x_test['SID'].unique())
    true_state=np.array(true_state)
    disk_pred=np.array(disk_pred)
    diskfdr=FAR(true_state, disk_pred)
    return diskfdr

In [29]:
disk_FDR(test_df2,y_pred2,y_test2) #For DT

0.93023255813953487

In [30]:
disk_FAR(test_df2,y_pred2,y_test2) #For DT

0.0059723614804481455

In [21]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(activation='tanh',alpha=0.02, hidden_layer_sizes=(20, 1), max_iter=400, learning_rate_init=0.1)

In [17]:
clf.fit(train_df2.iloc[:,1:], y_train2)

/Users/zhilinyang/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='tanh', alpha=0.03, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(20, 1), learning_rate='constant',
       learning_rate_init=0.1, max_iter=400, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [13]:
y_pred2=clf.predict(test_df2.iloc[:,1:])

In [40]:
disk_FDR(test_df2,y_pred2,y_test2) #For NN

0.83720930232558144

In [41]:
disk_FAR(test_df2,y_pred2,y_test2) #For NN

0.025240856183791797

In [12]:
dropcols=['SMART_197','RAW_197','cg_5','cg_187','cg_197','cgr_197']
train_df3=train_df2.drop(dropcols,axis=1)
test_df3=test_df2.drop(dropcols,axis=1)
'''“Raw Read Error Rate”:'SMART_1'
“Hardware ECC Recovered”:'SMART_195'
“Reallocated Sectors Count (raw value)'RAW_5'” '''

"“Raw Read Error Rate”:'SMART_1'\n“Hardware ECC Recovered”:'SMART_195'\n“Reallocated Sectors Count (raw value)'RAW_5'” "

In [62]:
from sklearn.tree import DecisionTreeClassifier
DT=DecisionTreeClassifier(criterion='entropy',min_samples_split = 20, min_samples_leaf = 7, min_impurity_decrease = 0.001,class_weight={0:1,1:2})

In [63]:
DT.fit(train_df3.iloc[:,1:],y_train2.values)

DecisionTreeClassifier(class_weight={0: 1, 1: 2}, criterion='entropy',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.001, min_impurity_split=None,
            min_samples_leaf=7, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [64]:
y_pred3=DT.predict(test_df3.iloc[:,1:])

In [65]:
disk_FDR(test_df3,y_pred3,y_test2) #For DT

0.93023255813953487

In [66]:
disk_FAR(test_df3,y_pred3,y_test2) #For DT

0.0059723614804481455

In [22]:
clf.fit(train_df3.iloc[:,1:], y_train2)

/Users/zhilinyang/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='tanh', alpha=0.02, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(20, 1), learning_rate='constant',
       learning_rate_init=0.1, max_iter=400, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [27]:
y_pred3=clf.predict(test_df3.iloc[:,1:])

In [28]:
y_pred3.sum()

1292.0

In [29]:
disk_FDR(test_df3,y_pred3,y_test2) #For NN

0.75193798449612403

In [30]:
disk_FAR(test_df3,y_pred3,y_test2) #For NN

0.0024848511269017831

In [31]:
len(test_df2['SID'].unique())

23068

In [34]:
file="/Users/zhilinyang/Desktop/work/dataset.txt"
colname=["SID","label","SMART_1","SMART_3","SMART_5","SMART_7","SMART_9","SMART_187",
         "SMART_189","SMART_194","SMART_195","SMART_197","RAW_5","RAW_197"]
df=pd.read_table(file,sep=' ')
df.columns=colname
df.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,SMART_195,SMART_197,RAW_5,RAW_197
0,1,-1,0.483871,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.118280,1.0,0.935255,-1.0
1,1,-1,0.000000,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.118280,1.0,0.935255,-1.0
2,1,-1,0.096774,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.714286,-0.139785,1.0,0.935255,-1.0
3,1,-1,0.193548,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.139785,1.0,0.935255,-1.0
4,1,-1,0.290323,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.118280,1.0,0.935255,-1.0

In [11]:
def change_rate(dataset,feature_list,rate,new_feature_list):
    num=1
    disk_list=dataset['SID'].unique()
    groups=dataset.groupby('SID')
    new_dataset=pd.DataFrame()
    col=list(dataset.columns)+new_feature_list
    for disk_id in disk_list:
        disk=groups.get_group(disk_id)
        part=disk[feature_list]
        new_sample=pd.DataFrame()
        for hour in range(rate,len(part)):
            temp=abs((part.iloc[hour]-part.iloc[hour-rate])).values
            new=np.concatenate((disk.iloc[hour], temp), axis=0)
            new=pd.Series(new,index=col)
            new_sample=new_sample.append(new,ignore_index=True)
        new_dataset=new_dataset.append(new_sample)
        newcolname=["SID","label","SMART_1","SMART_3","SMART_5","SMART_7","SMART_9","SMART_187",
         "SMART_189","SMART_194","SMART_195","SMART_197","RAW_5","RAW_197"]+new_feature_list
        new_dataset=new_dataset[newcolname]
        num=num+1
        print(num)
    return new_dataset

In [6]:
good_disks=pd.read_csv('/Users/zhilinyang/Desktop/work/good_disks.csv')
good_disks=good_disks.iloc[:,1:]
good_disks.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,SMART_195,SMART_197,RAW_5,RAW_197
0,434,1,0.290323,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.542857,-0.182796,1.0,-0.964083,-1.0
1,434,1,0.322581,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.485714,-0.161290,1.0,-0.964083,-1.0
2,434,1,0.354839,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.485714,-0.139785,1.0,-0.964083,-1.0
3,434,1,0.354839,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.485714,-0.182796,1.0,-0.964083,-1.0
4,434,1,0.387097,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.542857,-0.182796,1.0,-0.964083,-1.0

In [8]:
len(good_disks.loc[good_disks.SID==434.0])

168

In [6]:
good_list=good_disks['SID'].unique()
good_list=pd.Series(good_list)
len(good_list)

22962

In [7]:
good_list=list(good_list)

In [8]:
new_good_disks=good_disks
new_good_disks.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,SMART_195,SMART_197,RAW_5,RAW_197
0,434,1,0.290323,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.542857,-0.182796,1.0,-0.964083,-1.0
1,434,1,0.322581,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.485714,-0.161290,1.0,-0.964083,-1.0
2,434,1,0.354839,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.485714,-0.139785,1.0,-0.964083,-1.0
3,434,1,0.354839,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.485714,-0.182796,1.0,-0.964083,-1.0
4,434,1,0.387097,1.0,0.979798,0.536585,0.157895,1.0,-1.0,-0.542857,-0.182796,1.0,-0.964083,-1.0

In [ ]:
new_good=change_rate(new_good_disks,["SMART_1","SMART_5","SMART_187","SMART_195","SMART_197","RAW_5","RAW_197"],6,["cg_1","cg_5","cg_187","cg_195","cg_197","cgr_5","cgr_197"])
new_good.head(20)

In [5]:
bad_disks=pd.read_csv('/Users/zhilinyang/Desktop/work/fail_disks.csv')
bad_disks=bad_disks.iloc[:,1:]
bad_disks.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,SMART_195,SMART_197,RAW_5,RAW_197
0,1,-1,0.483871,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.118280,1.0,0.935255,-1.0
1,1,-1,0.000000,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.118280,1.0,0.935255,-1.0
2,1,-1,0.096774,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.714286,-0.139785,1.0,0.935255,-1.0
3,1,-1,0.193548,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.139785,1.0,0.935255,-1.0
4,1,-1,0.290323,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,-0.118280,1.0,0.935255,-1.0

In [ ]:
new_bad=change_rate(bad_disks,["SMART_1","SMART_5","SMART_187","SMART_195","SMART_197","RAW_5","RAW_197"],6,["cg_1","cg_5","cg_187","cg_195","cg_197","cgr_5","cgr_197"])

In [152]:
len(new_bad['SID'].unique())

433

In [ ]:
new_bad.to_csv("/Users/zhilinyang/Desktop/work/new_bad.csv")

In [34]:
new_bad=pd.read_csv("/Users/zhilinyang/Desktop/work/new_bad.csv")
new_bad=new_bad.iloc[:,1:]
new_bad.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,...,SMART_197,RAW_5,RAW_197,cg_1,cg_5,cg_187,cg_195,cg_197,cgr_5,cgr_197
0,1.0,-1.0,0.290323,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,...,1.0,0.935255,-1.0,0.193548,0.0,0.0,0.021505,0.0,0.0,0.0
1,1.0,-1.0,0.322581,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,...,1.0,0.935255,-1.0,0.322581,0.0,0.0,0.021505,0.0,0.0,0.0
2,1.0,-1.0,0.354839,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.657143,...,1.0,0.935255,-1.0,0.258065,0.0,0.0,0.000000,0.0,0.0,0.0
3,1.0,-1.0,0.387097,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.714286,...,1.0,0.935255,-1.0,0.193549,0.0,0.0,0.000000,0.0,0.0,0.0
4,1.0,-1.0,0.387097,0.259259,-1.0,0.317073,0.894737,0.878788,0.89899,-0.714286,...,1.0,0.935255,-1.0,0.096774,0.0,0.0,0.021505,0.0,0.0,0.0

In [37]:
def get_healthy_train(total_df,train_df):
    name_list=total_df['SID'].unique()
    x=np.array(name_list)
    it = np.nditer(x,flags=['multi_index','refs_ok'])
    groups=total_df.groupby('SID')
    while not it.finished:
        ix=it.multi_index
        obj=groups.get_group(x[ix])
        train_size=int(len(obj)*0.7)
        obj=obj.iloc[0:train_size+1]
        if len(obj)>15:
            obj=obj.sample(15)
        train_df=train_df.append(obj)
        it.iternext()
    return train_df

In [43]:
def get_healthy_test(total_df,train_df):
    name_list=total_df['SID'].unique()
    x=np.array(name_list)
    it = np.nditer(x,flags=['multi_index','refs_ok'])
    groups=total_df.groupby('SID')
    while not it.finished:
        ix=it.multi_index
        obj=groups.get_group(x[ix])
        train_size=int(len(obj)*0.7)
        obj=obj.iloc[train_size+1:]
        if (len(obj)<3):
            it.iternext()
            continue
        samples=obj.sample(3)
        train_df=train_df.append(samples)
        it.iternext()
    return train_df

In [39]:
healthy_train=pd.DataFrame()
healthy_train=get_healthy_train(new_good,healthy_train)
healthy_train.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,...,SMART_197,RAW_5,RAW_197,cg_1,cg_5,cg_187,cg_195,cg_197,cgr_5,cgr_197
88,447.0,1.0,0.419355,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.485714,...,1.0,-0.998582,-1.0,0.129032,0.0,0.0,0.000000,0.0,0.0,0.0
106,447.0,1.0,0.419355,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.485714,...,1.0,-0.998582,-1.0,0.032258,0.0,0.0,0.043010,0.0,0.0,0.0
65,447.0,1.0,-0.096774,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.542857,...,1.0,-0.998582,-1.0,0.483871,0.0,0.0,0.000000,0.0,0.0,0.0
33,447.0,1.0,0.451613,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.542857,...,1.0,-0.998582,-1.0,0.258065,0.0,0.0,0.021505,0.0,0.0,0.0
101,447.0,1.0,0.387097,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.485714,...,1.0,-0.998582,-1.0,0.193549,0.0,0.0,0.000000,0.0,0.0,0.0

In [40]:
print(len(healthy_train))

17210

In [44]:
healthy_test=pd.DataFrame()
healthy_test=get_healthy_test(new_good,healthy_test)
healthy_test.head()

,SID,label,SMART_1,SMART_3,SMART_5,SMART_7,SMART_9,SMART_187,SMART_189,SMART_194,...,SMART_197,RAW_5,RAW_197,cg_1,cg_5,cg_187,cg_195,cg_197,cgr_5,cgr_197
129,447.0,1.0,0.193548,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.542857,...,1.0,-0.998582,-1.0,0.225807,0.0,0.0,0.129033,0.0,0.0,0.0
125,447.0,1.0,0.451613,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.485714,...,1.0,-0.998582,-1.0,0.129032,0.0,0.0,0.086022,0.0,0.0,0.0
149,447.0,1.0,0.387097,1.0,1.0,0.536585,0.052632,1.0,0.69697,-0.485714,...,1.0,-0.998582,-1.0,0.322581,0.0,0.0,0.021506,0.0,0.0,0.0
299,483.0,1.0,0.451613,1.0,1.0,0.536585,0.157895,1.0,1.00000,-0.600000,...,1.0,-0.991493,-1.0,0.064516,0.0,0.0,0.064516,0.0,0.0,0.0
306,483.0,1.0,0.354839,1.0,1.0,0.536585,0.157895,1.0,1.00000,-0.600000,...,1.0,-0.991493,-1.0,0.096774,0.0,0.0,0.064516,0.0,0.0,0.0

In [45]:
len(healthy_test)

3441

In [47]:
def get_lastn_samples(total_df,new_df,n,disk_list):
    groups=total_df.groupby('SID')
    disk_num=len(disk_list)
    for i in range(0,disk_num):
        obj=groups.get_group(disk_list[i])
        if len(obj)<n:
            continue
        obj=obj.iloc[len(obj)-n:len(obj)]
        new_df=new_df.append(obj)
    return new_df

In [78]:
def time_window(N):
    fail_samples=pd.DataFrame()
    disk_list=new_bad['SID'].unique()
    fail_samples=get_lastn_samples(new_bad,fail_samples,N,disk_list)
    
    fail_list=pd.DataFrame(fail_samples['SID'].unique())
    train_list=fail_list.sample(frac=0.7).values
    fail_train=pd.DataFrame()
    fail_groups=fail_samples.groupby('SID')
    for sid in fail_samples['SID'].unique():
        if sid in train_list:
            obj=fail_groups.get_group(sid)
            fail_train=fail_train.append(obj)
            
    train_df=healthy_train.append(fail_train)
    train_df=train_df.sample(frac=1)
    y_train=train_df['label']
    train_df=train_df.drop('label',axis=1)
    
    y_train[y_train==1]=0
    y_train[y_train==-1]=1
    
    fail_test=pd.DataFrame()
    for sid in fail_samples['SID'].unique():
        if sid not in train_list:
            obj=fail_groups.get_group(sid)
            fail_test=fail_test.append(obj)
            
    test_df=healthy_test.append(fail_test)
    test_df=test_df.sample(frac=1)
    y_test=test_df['label']
    test_df=test_df.drop('label',axis=1)
    
    y_test[y_test==1]=0
    y_test[y_test==-1]=1
    
    y_train=pd.Series(y_train.values)
    y_test=pd.Series(y_test.values)

    return train_df,test_df,y_train,y_test

In [151]:
def predict_disk(testset,y_pred,disk_name_list):
    result=[]
    test_set=testset.groupby('SID')
    y_pred=pd.Series(y_pred)
    for disk in disk_name_list:
        sample_index=test_set.get_group(disk).index
        sample_result=y_pred.reindex(sample_index)
        sample_result=pd.Series(sample_result)
        if sample_result.sum()>len(sample_result)/2:
            result.append(1)
        else:
            result.append(0)
    return result

In [166]:
def diff_time_window(N):
    dropcols=['SMART_197','RAW_197','cg_5','cg_187','cg_197','cgr_197']
    train_df,test_df,y_train,y_test=time_window(N)
    train_df=train_df.drop(dropcols,axis=1)
    test_df=test_df.drop(dropcols,axis=1)
    test_df.index=range(0,len(test_df))
    from sklearn.tree import DecisionTreeClassifier
    DT=DecisionTreeClassifier(criterion='entropy',min_samples_split = 20, min_samples_leaf = 7, min_impurity_decrease = 0.001,class_weight={0:1,1:2})
    DT.fit(train_df.iloc[:,1:],y_train.values)
    y_pred=DT.predict(test_df.iloc[:,1:])
    CT_FDR=disk_FDR(test_df,y_pred,y_test) #For DT
    CT_FAR=disk_FAR(test_df,y_pred,y_test) #For DT
    print("DT FDR: %f, DT FAR: %f" %(CT_FDR, CT_FAR))

In [167]:
diff_time_window(12)

DT FDR: 0.922481, DT FAR: 0.003487

In [168]:
diff_time_window(24)

DT FDR: 0.952756, DT FAR: 0.005231

In [169]:
diff_time_window(48)

DT FDR: 0.928571, DT FAR: 0.005231

In [170]:
diff_time_window(96)

DT FDR: 0.966942, DT FAR: 0.016565

In [171]:
diff_time_window(168)

DT FDR: 0.945455, DT FAR: 0.014821

In [172]:
diff_time_window(240)

DT FDR: 0.958763, DT FAR: 0.015693

In [ ]:
new_df=new_good.append(new_bad)

In [149]:
def test_voting(N):
    new_test=pd.DataFrame()
    disk_list=test_df3['SID'].unique().sample(frac=0.1)
    new_test=get_lastn_samples(df,new_test,N,disk_list)
    y_predDT=DT.predict(new_test.iloc[:,1:])
    FDR1=disk_FDR(test_df3,y_pred3,y_test2)
    FAR1=disk_FAR(test_df3,y_pred3,y_test2) 
    y_predNN=clf.predict(new_test.iloc[:,1:])
    FDR2=disk_FDR(test_df3,y_pred3,y_test2) 
    FAR2=disk_FAR(test_df3,y_pred3,y_test2) 
    print("DT FDR: %f, DT FAR: %f, NN FDR: %f, NN FAR: %f"% (FDR1, FAR1, FDR2, FAR2))

In [173]:
healthy_train.to_csv("/Users/zhilinyang/Desktop/work/healthy_train.csv")

In [174]:
healthy_test.to_csv("/Users/zhilinyang/Desktop/work/healthy_test.csv")